/vendor/
/composer.lock
/.idea/

# Ignore everything in the root directory
/*
!.gitignore
!*.sql
!*.zip
!WordPress++Development+Lecture+Notes.pdf
!test.php
!assets/
idea/

# Exclude the wp-content directory
!/wp-content/
/wp-content/*
!/wp-content/themes
!/wp-content/plugins

# Exclude specific themes in wp-content/themes
/wp-content/themes/*
!/wp-content/themes/udemy-course-theme/

# Exclude specific plugins in wp-content/plugins
/wp-content/plugins/*
!/wp-content/plugins/udemy-plus/

# Exclude node_modules and vendor directories
node_modules/
vendor/
package-lock.json

# Include Getting Started with React
!starting-with-react/
# Include solution-code
!solution-code